/* Varaibles */
:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  height: 100vh;
  transition: background 0.3s linear, color 0.3s linear;
}

h1, .h1 {
  font-size: 5.4rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2, .h2 {
  font-size: 4.5rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3, .h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

/* Utilities */
.form-control {
  margin-bottom: 1rem;
  height: 5.5rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0 30px rgba(17, 17, 17, 0.08);
  outline: none;
}
.form-control::placeholder {
  color: #ccc;
}

.focus-effect {
  background-position: center center;
  transition: 0.4s;
}
.focus-effect:focus {
  background-color: rgba(255, 168, 22, 0.72);
  caret-color: #FFF;
  color: #FFF;
}
.focus-effect:focus::-webkit-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}

.hover-effects, .btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(163, 163, 163, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 0.2s;
}

.container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  font-size: 2rem;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.my-2 {
  margin-block: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.text-white {
  color: #fff;
}

/* Buttons  */
.btn {
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  background-color: white;
  border: none;
  transition: 0.4s;
  text-transform: capitalize;
}

/* COLOR */
.blue {
  background-color: #1C3879;
  color: white;
}

.red {
  background-color: #ea5455;
  color: white;
}

.orange {
  background-color: #D1512D;
  color: white;
}

.green {
  background-color: #1C6758;
  color: white;
}

.green-mid {
  background-color: #3D8361;
  color: white;
}

.green-light {
  background-color: #7FB77E;
  color: white;
}

.turquoise {
  background-color: #71c9ce;
  color: #FFF;
}

.black {
  background-color: #181818;
  color: white;
}

.dark-mood {
  background-color: rgb(27, 27, 27) !important;
  color: #fff;
}

hr {
  margin-block: 20px;
  border: 1px solid #eee;
  box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.5);
}

/* First Project */
.main-nav .btn {
  position: fixed;
  right: 2rem;
  top: 2rem;
  padding: 10px 20px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.main-nav .btn.active {
  transform: translateX(-150px);
}
.main-nav nav {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #71c9ce;
  color: #fff;
  width: 150px;
  height: 100vh;
  text-align: center;
  padding-block: 20px;
  transform: translateX(100%);
  transition: 0.4s;
}
.main-nav nav.active {
  transform: translateX(0%);
}
.main-nav nav ul {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 50px;
}
.main-nav nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  color: #FFF;
  padding: 20px;
  transition: 0s !important;
}
.main-nav nav ul li a:hover {
  background-color: #fff;
  color: #71c9ce;
}
.main-nav nav ul li a:hover::after, .main-nav nav ul li a:hover::before {
  display: block;
}
.main-nav nav ul li a::after, .main-nav nav ul li a::before {
  content: "";
  position: absolute;
  left: -1.7rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 15px solid;
  border-color: #fff transparent transparent transparent;
  transform: rotate(-30deg);
  display: none;
}
.main-nav nav ul li a::after {
  bottom: -100%;
}
.main-nav nav ul li a::before {
  top: -100%;
  transform: rotate(-160deg);
}

/* Second Project */
.toast-notification {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.toast-notification .notify-container {
  position: fixed;
  left: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
}
.toast-notification .notify-container .notify-box {
  padding: 10px 20px;
  background-color: #71c9ce;
  color: #FFF;
  margin-block: 10px;
  border-radius: 5px;
}
.toast-notification #notify-btn {
  width: 300px;
  padding: 20px 40px;
  border-radius: 5px;
  border: 2px solid #71c9ce;
  color: #71c9ce;
}

/* Third Project */
.auto-writing {
  display: flex;
  justify-content: center;
  background-color: #3D8361;
  height: 200px;
  border-radius: 5px;
  padding: 50px;
}
.auto-writing p {
  color: #fff;
  font-size: 4rem;
  font-family: "Ms Madi", sans-serif;
  font-weight: 400;
}

/* Forth project */
#popup-btn-open {
  margin: 20px 0;
  width: 200px;
  height: 40px;
  border-radius: 0.5rem;
}

.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-container.active {
  display: flex;
}
.popup-container .popup {
  position: relative;
  background-color: #FFF;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  transition: 5s;
}
.popup-container .popup #popup-btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #ea5455;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Fifth project */
.hearts-project .red {
  padding: 1rem 2rem;
  font-size: 4rem;
  border-radius: 50%;
}

.hearts-rain {
  display: flex;
  widtH: 200px;
  height: 50px;
}
.hearts-rain .heart {
  color: #ea5455;
  font-size: 4rem;
  position: fixed;
  top: -5vh;
  transform: translateY(0);
  animation: fall 2s linear forwards;
}

/* Sixth project*/
#change-bg-btn {
  padding: 1rem;
  width: 20rem;
  border-radius: 5px;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
/* Seventh project*/
.toggle-theme-section #toggle-theme {
  display: none;
}
.toggle-theme-section #toggle-theme:checked ~ .toggle-theme-btn .sun {
  display: block;
}
.toggle-theme-section #toggle-theme:checked ~ .toggle-theme-btn .moon {
  display: none;
}
.toggle-theme-section .toggle-theme-btn {
  position: fixed;
  left: 2rem;
  top: 2rem;
  margin: 2rem 0;
  border-radius: 50%;
  transition: background 0.3s linear;
}
.toggle-theme-section .toggle-theme-btn img {
  transition: background 0.3s linear;
}
.toggle-theme-section .toggle-theme-btn .sun {
  display: none;
}
.toggle-theme-section .toggle-theme-btn .black {
  border-radius: inherit;
  padding: 1rem;
  cursor: pointer;
}

/* Eighth project*/
.carousel {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);
  width: 1000px;
  height: 500px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
}
.carousel .img-container {
  display: flex;
  transition: transform 0.4s linear;
  transform: translateX(0);
}
.carousel .img-container img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}
.carousel .carousel-nav {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.carousel .carousel-nav .nav-right, .carousel .carousel-nav .nav-left {
  width: 60px;
  height: 60px;
  display: flex;
  background-color: transparent;
  box-shadow: unset;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 50%;
  position: absolute;
  pointer-events: all;
}
.carousel .carousel-nav .nav-right *, .carousel .carousel-nav .nav-left * {
  color: #FFF;
}
.carousel .carousel-nav .nav-right {
  right: 0;
}
.carousel .carousel-nav .nav-left {
  left: 0;
}

.zoom {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);
  width: 500px;
  height: 500px;
  margin: 40px auto;
  overflow: hidden;
}
.zoom img {
  transform-origin: center center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
