hr{ 
    margin-block: 20px;
    border:1px solid #eee;

    box-shadow: 2px 1px 20px rgba(0,0,0,.5);
}
/* First Project */
.main-nav{
    .btn{
        position: fixed;
        right: 2rem;
        top: 2rem;
        padding: 10px 20px;
        width: 100px;
        border-radius: 5px;
        border:1px solid #ccc;    
        &.active{
            transform: translateX(-150px);
        }  
    }

    nav{
        position: fixed;
        top: 0;
        right: 0;
        overflow: hidden;
        background-color: $turquoise;
        color: #fff;
        width: 150px;
        height: 100vh;
        text-align: center;
        padding-block: 20px;
        transform: translateX(100%);
        transition: 0.4s;
        &.active{
            transform: translateX(0%);
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 5rem;
            margin-top:50px;   
                    
            li{
                a{
                    position: relative;
                    display:flex;     
                    justify-content: center;             
                    color: #FFF;
                    padding:20px;     
                    transition: 0s !important;             
                    &:hover{
                        background-color: #fff;
                        color: $turquoise;
                        &::after,&::before{
                            display: block;
                         }

                    }
                    &::after,&::before{
                        content:"";
                        position: absolute;
                        left: -1.7rem;                       
                        width: 50px;
                        height:50px;
                        border-radius: 50%;
                        border: 15px solid;
                        border-color: #fff transparent transparent transparent;
                        transform: rotate(-30deg);
                        display: none;
                    }
                    &::after{
                        bottom:-100%;
                    }
                    &::before{
                        top:-100%;

                        transform: rotate(-160deg);
                    }

                }
            }
        }
    }
}

/* Second Project */
.toast-notification{
    margin: 0 auto;
    padding:20px;
    border-radius: 5px;    

    .notify-container{
        position: fixed;
        left: 40px;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        .notify-box{                 
            padding:10px 20px;
            background-color: $turquoise;
            color: #FFF;
            margin-block:10px; 
            border-radius: 5px;
        }
    }
    #notify-btn{
        width:300px;
        padding:20px 40px;
        border-radius: 5px;
        border: 2px solid $turquoise;
        color: $turquoise;

    }
}

/* Third Project */
.auto-writing{
    display: flex;
    justify-content: center;
    background-color: $green-mid;
    height:200px;
    border-radius: 5px;
    padding:50px;
    p{
        color: #fff;
        font-size: 4rem;
        font-family: 'Ms Madi', sans-serif;
        font-weight: 400
    }
}

/* Forth project */
#popup-btn-open{   
    margin:20px 0;
    width:200px;
    height:40px;
    border-radius: .5rem;

}
.popup-container{
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);    
    
    &.active{
        display: flex;
    }
    .popup{
        position: relative;
        background-color: #FFF;
        padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        transition: 5s;
        
        #popup-btn-close{
            position: absolute;
            right: 20px;
            top:20px;
            background-color: $red;
            color: #FFF;
            padding:5px 10px;
            border-radius: 5px;
        }
    }
}

/* Fifth project */ 
.hearts-project {
    .red{
        padding: 1rem 2rem;
        font-size: 4rem;
        border-radius: 50%;
    }
}
.hearts-rain{
    display: flex;
    widtH: 200px;
    height: 50px;
    .heart{
        color: $red;
        font-size: 4rem;
        position: fixed;
        top: -5vh;
        transform: translateY(0);
        animation: fall 2s linear forwards;
    }
}

/* Sixth project*/
#change-bg-btn{
    padding: 1rem;
    width: 20rem ;
    border-radius: 5px;
}
@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}

/* Seventh project*/
.toggle-theme-section{
    
    #toggle-theme{
        display: none;
        &:checked{
            ~.toggle-theme-btn{
                .sun{display: block;}
                .moon{display:none;}
            }
        }
    }
    .toggle-theme-btn{       
        position: fixed;
        left: 2rem;
        top: 2rem;
        margin:2rem 0;   
        border-radius: 50%;  
        transition: background .3s linear;
        img{
            transition: background .3s linear;
        }
        .sun{display:none;}
        .black{            
            border-radius: inherit;
            padding: 1rem;            
            cursor: pointer;
        }
    }    
}

/* Eighth project*/
.carousel{   
    box-shadow: 5px 10px 15px rgb(0,0,0,.7);
    width:1000px;
    height: 500px;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    .img-container{             
        display: flex;
        transition: transform .4s linear;       
        transform: translateX(0);
        img{
            width: 100%;               
            aspect-ratio: 16/9;            
            object-fit: cover;
            object-position: center;
        }
    }
    .carousel-nav{
        display: flex;
        align-items: center;
        position: absolute;   
        inset:0;
        pointer-events: none;
        .nav-right,.nav-left{
            *{color: #FFF;}
            width: 60px;
            height: 60px;
            display: flex;
            background-color: transparent;
            box-shadow: unset;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            border-radius: 50%;
            position: absolute;
            pointer-events: all;
        }
        .nav-right{right:0}
        .nav-left{left:0}
    }
}

.zoom{
    box-shadow: 5px 10px 15px rgb(0,0,0,.7);
    width: 500px;
    height: 500px;
    margin: 40px auto;
    overflow: hidden;
    img{
        transform-origin: center center;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}
